<?xml version="1.0"?>
<launch>
	<!-- map_matcher -->
	<node pkg="rwrc21_recogni_localizer" type="map_matcher_node" name="map_matcher_node" output="screen" >
		<param name="pcd_file_path" value="/home/amsl/pcd/tsukuba/kakunin_infant.pcd" />
		<param name="pc_topic_name" value="/velodyne_points" />
		<param name="orb_pc_topic_name" value="a" />
		<param name="ekf_pose_topic_name" value="/ekf_pose" />
		<param name="ndt_pose_topic_name" value="/ndt_pose" />
		<param name="map_topic_name" value="/global_map" />
		<param name="ndt_pc_topic_name" value="ndt_pc" />
		<param name="map_frame_id" value="map" />
		<param name="is_pcl_offset" value="true" />
		<rosparam command="load" file="$(find rwrc21_recogni_localizer)/config/map_matcher/kakunin2.yaml" />
	</node>

</launch>