<?xml version="1.0"?>
<launch>
    <arg name="is_d_kan" default="false" />
    <arg name="is_ikuta" default="false" />
    <arg name="is_tsukuba_full" default="true" />
    <arg name="is_tsukuba_kakunin" default="false" />

    <arg name="is_rviz" default="true" />
    <arg name="is_global_path" default="true" />

    <!-- rwrc21_managers -->
    <!-- d_kan -->
    <group if="$(arg is_d_kan)" >
        <include file="$(find amsl_navigation_managers)/launch/rwrc21_d_kan_recogni_manager.launch"/>
    </group>

    <!-- ikuta  -->
    <group if="$(arg is_ikuta)" >
        <include file="$(find amsl_navigation_managers)/launch/rwrc21_ikuta_recogni_manager.launch"/>
    </group>

    <!-- tsukuba_full -->
    <group if="$(arg is_tsukuba_full)" >
        <include file="$(find amsl_navigation_managers)/launch/rwrc21_tsukuba_recogni_manager.launch"/>
        <include file="$(find rwrc21_recogni_localizer)/launch/rwrc21_tsukuba.launch" />
    </group>

    <!-- tsukuba_kakunin -->
    <group if="$(arg is_tsukuba_kakunin)" >
        <include file="$(find amsl_navigation_managers)/launch/rwrc21_tsukuba_kakunin_recogni_manager.launch"/>
    </group>

    <!-- global path -->
    <group if="$(arg is_global_path)" >
        <!-- dijkstra -->
        <include file="$(find dijkstra_global_planner)/launch/global_planner.launch"/>

        <!--  global_path_creator -->
        <include file="$(find dijkstra_global_planner)/launch/global_path_creator.launch"/>

            <!-- local_goal_creator -->
        <include file="$(find dijkstra_global_planner)/launch/local_goal.launch"/>
    </group>

    <!-- rviz -->
    <group if="$(arg is_rviz)" >
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rwrc21_recogni_localizer)/config/node_edge_map/tsukuba.rviz" />
    </group>

</launch>
